@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background:#ffffff;
    --foreground:#000820;
    --card:#ffffff;
    --card-foreground:#30343B;
    --popover:#ffffff;
    --popover-foreground:#30343B;
    --primary:#000820;
    --primary-foreground:#89FF2B;
    --secondary:#025951;
    --secondary-foreground:#000000;
    --muted:#02735E;
    --muted-foreground:#80848A;
    --accent:#038C3E;
    --accent-foreground:#000000;
    --destructive:#EF4444;
    --destructive-foreground:#ffffff;
    --border:#89FF2B;
    --input:#89FF2B;
    --ring:#0CF25D;
    --radius:0.75rem;
    --chart-1:#038C3E;
    --chart-2:#025951;  
    --chart-3:#02735E;
    --chart-4:#89FF2B;
    --chart-5:#0CF25D;
    --section1:#156172;
    --section2:#0b343d;
    --softgray: #f5f5f5;
    --bgcalcgreen: url('/images/bg-calc-green.png');
    --green-scribble-text-bg: url('/images/green-scribble-text-bg-light.png');
  }
  .dark {
    --background:#000820;
    --foreground:#F7FCFC;
    --card:#025951;
    --card-foreground:#F7FCFC;
    --popover:#02735E;
    --popover-foreground:#F7FCFC;
    --primary:#89FF2B;
    --primary-foreground:#000820;
    --secondary:#038C3E;
    --secondary-foreground:#EDEFE0;
    --muted:#031f3b;
    --muted-foreground:#EDEFE0;
    --accent:#025951;
    --accent-foreground:#F7FCFC;
    --destructive:#EF4444;
    --destructive-foreground:#F7FCFC;
    --border:#89FF2B;
    --input:#89FF2B;
    --ring:#0CF25D;
    --chart-1:#89FF2B;
    --chart-2:#025951;
    --chart-3:#02735E;
    --chart-4:#038C3E;
    --chart-5:#00c946;
    --section1:#00110d;
    --section2: #001d0e;
    --softgray: #7a8078;
    --bgcalcgreen: url('/images/bg-calc-green-dark.jpg');
    --green-scribble-text-bg: url('/images/green-scribble-text-bg-dark.png');
  }
}

@keyframes bounce {
  0%, 20%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.custom-animate-bounce {
  animation: bounce 1.3s infinite;
  animation-timing-function: ease-in-out;
}

.bounce-delay-1 {
  animation-delay: 0s;
}

.bounce-delay-2 {
  animation-delay: 0.3s; /* 300ms delay */
}

.bounce-delay-3 {
  animation-delay: 0.6s; /* 600ms delay */
}